@use "variable" as *;

/* 自动适应页面宽度显示元素 */
.auto-column {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.25rem;
}

/* 自动适应页面宽度显示元素 */
.auto-min-column {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)) !important;
  gap: 1.25rem;
}

// pc端4列，移动端2列
.auto-3-column {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(10%, 31%)) !important;
  gap: 3.33%;
}

.auto-avatar-column {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 0.6rem;
}

.auto-icon-column {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  gap: 0.6rem;
}

/* 由最内层盒子限制宽度 */
.inner-max-box {
  margin: 0 auto;
  width: 90%;
  min-width: 320px;
  max-width: 1440px;
}

.inner-box {
  margin: 0 auto;
  width: 70%;
  min-width: 320px;
  max-width: 1440px;
}

/* 由最内层盒子限制宽度 */
.inner-min-box {
  margin: 0 auto;
  width: 50%;
  min-width: 320px;
  max-width: 1440px;
}

.bg-color {
  background-color: var(--el-bg-color);
}

.bg-color-secondary {
  background-color: var(--bg-color-secondary);
}

.bg-color-three {
  background-color: var(--bg-color-three);
}

.text-color-gray {
  color: var(--text-color-gray);
}

.bg-color-translucent {
  background-color: rgba(145, 145, 145, 0.3);
}

/* 盒子圆角 */
.radius-lg {
  border-radius: var(--radius-lg) !important;
}


.radius-sm {
  border-radius: var(--radius-sm) !important;
}

/* 阴影样式 */
.shadow {
  // * 2 与 drop-shadow 差不多大
  box-shadow: 3px 3px calc(var(--shadow-size) * 2) var(--shadow-color),
  -3px -3px calc(var(--shadow-size) * 2) var(--shadow-contrast-color) !important;
}

.drop-shadow {
  filter: drop-shadow(0 0 var(--shadow-size) var(--shadow-color)) !important;
}

/* 鼠标移入效果 */
.hover-color {
  &:hover {
    color: var(--hover-color) !important;
  }
}

.hover-bg {
  &:hover {
    background-color: var(--hover-color) !important;
  }
}

.mimicry-button {
  background-color: var(--bg-color-three);
  box-shadow: 2px 2px 3px var(--shadow-color),
  -3px -3px 4px 2px #fff;

  &:hover {
    box-shadow: inset 2px 2px 6px -1px var(--shadow-color),
    inset -4px -4px 6px #f6f6f6;
  }
}

/* 文字镂空效果 */
.hollow-text {
  color: var(--el-bg-color);
  text-shadow: 0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary),
  0 0 1px var(--el-text-color-primary);
}


// 遮罩层
.mask-blur {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    backdrop-filter: blur(5px);
  }
}

.mask {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}

/* 隐藏滚动条 */
.hidden-scroll {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html.dark {
  img,
  .dark-img-bg {
    filter: brightness(0.6) saturate(1.25)
  }

  .mimicry-button {
    background-color: var(--bg-color-three);
    box-shadow: 2px 2px 3px var(--shadow-color),
    -3px -3px 4px 2px #323232;

    &:hover {
      box-shadow: inset 2px 2px 6px -1px var(--shadow-color),
      inset -4px -4px 6px #323232,
      -1px -1px 1px #c2c2c2;
    }
  }
}