@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--max-2xl: '1536px';
	--max-xl: '1280px';
	--max-lg: '1024px';
	--max-md: '768px';
	--max-sm: '640px';
	--max-xs: '480px'
}